* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; COLOR: #606060; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif, "ו"
}
UL {
	LIST-STYLE: none none outside
}
LI {
	LIST-STYLE: none none outside
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	VERTICAL-ALIGN: middle
}
TEXTAREA {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
IMG {
	MARGIN-BOTTOM: 1px
}
INPUT {
	MARGIN-BOTTOM: 1px
}
TEXTAREA {
	MARGIN-BOTTOM: 1px
}
SELECT {
	MARGIN-BOTTOM: 1px
}
.clear {
	CLEAR: both
}
.wrap {
	MARGIN: 3px auto 0px; WIDTH: 960px
}
.left {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 695px
}

.leftcn1 {
	MARGIN-TOP: 8px; OVERFLOW: hidden; HEIGHT: 60px
}
.leftcn1 .cn1 {
	FLOAT: left
}
.leftcn1 .cn2 {
	FLOAT: right
}
.leftcn2 {
	MARGIN-TOP: 9px
}
.commend {
	MARGIN-TOP: 9px; OVERFLOW: hidden;
}
.commend .group {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #f4f4f4; FLOAT: left; BORDER-LEFT: #ccc 1px solid; WIDTH: 478px; BORDER-BOTTOM: #ccc 1px solid;
}
.commend .group .title {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 36px; PADDING-TOP: 0px; HEIGHT: 36px
}
.commend .group .title A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; COLOR: #4b4a4a; TEXT-DECORATION: none
}
.commend .group .title A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.commend .group .topic {
	PADDING-LEFT: 75px; MIN-HEIGHT: 66px; MARGIN: 3px 11px 0px; POSITION: relative; COLOR: #606060; LINE-HEIGHT: 18px; HEIGHT: auto! important
}
.commend .group .topic IMG {
	BORDER-RIGHT: #000 6px solid; BORDER-TOP: #000 6px solid; LEFT: 0px; POSITION: absolute; BORDER-LEFT: #000 6px solid; BORDER-BOTTOM: #000 6px solid; TOP: 0px
}
.commend .group .topic H1 {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 3px; COLOR: #000
}
.commend .group .topic H1 SPAN {
	COLOR: #f00; DISPLAY: inline
}
.commend .group .topic H1 SPAN A {
	COLOR: #f00; TEXT-DECORATION: none
}
.commend .group .topic H1 SPAN A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.commend .group .topic SPAN {
	MARGIN-BOTTOM: 2px; COLOR: #838383; DISPLAY: block
}
.commend .group .topic SPAN A {
	COLOR: #000; TEXT-DECORATION: none
}
.commend .group .topic SPAN A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.commend .group .user {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: #d8d8d8; PADDING-BOTTOM: 5px; MARGIN: 9px 9px 0px 10px; PADDING-TOP: 5px
}
.commend .group .user IMG {
	MARGIN-RIGHT: 5px
}
.commend .group .hot {
	PADDING-LEFT: 78px; BORDER-TOP: #b2b2b2 1px dashed; MIN-HEIGHT: 20px; MARGIN: 3px 9px 0px 10px; POSITION: relative; LINE-HEIGHT: 20px; PADDING-TOP: 7px; HEIGHT: auto! important
}
.commend .group .hot SPAN {
	FONT-WEIGHT: bold; LEFT: 9px; POSITION: absolute; COLOR: #000; TOP: 7px
}
.commend .group .hot UL LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 63px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.commend .group .hot UL LI A {
	COLOR: #000; TEXT-DECORATION: none
}
.commend .group .hot UL LI A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.commend .space {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #f4f4f4; FLOAT: right; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px; BORDER-BOTTOM: #ccc 1px solid;
}
.commend .space .title {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 36px; PADDING-TOP: 0px; HEIGHT: 36px
}
.commend .space .title A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; COLOR: #4b4a4a; TEXT-DECORATION: none
}
.commend .space .title A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.commend .space .skin {
	BACKGROUND: #000; MARGIN: 3px 7px 0px
}
.commend .space .skin A {
	COLOR: #000; TEXT-DECORATION: none
}
.commend .space .skin A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.commend .space .skin LI {
	FLOAT: left; WIDTH: 93px; TEXT-ALIGN: center
}
.commend .space .skin LI IMG {
	BORDER-RIGHT: #656565 1px solid; BORDER-TOP: #656565 1px solid; MARGIN-BOTTOM: 3px; BORDER-LEFT: #656565 1px solid; BORDER-BOTTOM: #656565 1px solid
}
.commend .space .cool {
	MARGIN: 1px 9px
}
.commend .space .cool LI {
	FLOAT: left; MARGIN-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 91px; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.commend .space .cool LI IMG {
	MARGIN-RIGHT: 7px
}
.commend .space .cool A {
	COLOR: #838383; TEXT-DECORATION: none
}
.commend .space .cool A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.right {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 250px
}

.right .rightcn1 {
	MARGIN-TOP: 7px
}
.right .rightcn2 {
	MARGIN-TOP: 8px
}
.right .play {
	BORDER-RIGHT: #ccc 1px solid; MARGIN-TOP: 7px; BORDER-TOP: #ccc 1px solid; BACKGROUND: #f4f4f4; POSITION: relative; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 282px
}
.right .play .title {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 36px; PADDING-TOP: 0px; HEIGHT: 36px
}
.right .play .playwrap {
	POSITION: relative; OVERFLOW: hidden; HEIGHT: 240px
}
.right .play .syon {
	MARGIN-BOTTOM: 5px; LINE-HEIGHT: 18px; MARGIN-RIGHT: 7px
}
.right .play .syon SPAN {
	MARGIN-LEFT: 7px
}
.right .play .syon SPAN A {
	COLOR: #5f5f5f; TEXT-DECORATION: none
}
.right .play .syon SPAN A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.right .play UL {
	MARGIN: 0px 20px 0px 12px
}
.right .play UL LI {
	PADDING-LEFT: 33px; MIN-HEIGHT: 20px; MARGIN-BOTTOM: 8px; POSITION: relative; COLOR: #969696; LINE-HEIGHT: 22px; HEIGHT: auto! important
}
.right .play UL LI A {
	COLOR: #5f5f5f; TEXT-DECORATION: underline
}
.right .play UL LI A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.right .play UL LI .user {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; LEFT: 0px; POSITION: absolute; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; TOP: 2px
}
.right .play UL LI .con {
	MARGIN-LEFT: 5px
}
.right .play UL LI .more {
	FLOAT: right
}
.right .play UL LI .album {
	MARGIN-TOP: 1px
}
.right .play UL LI .album TABLE {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 3px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.right .play UL LI .album TABLE TD {
	PADDING-RIGHT: 7px; VERTICAL-ALIGN: bottom
}
.right .play UL LI .album IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.right .play UL LI .pk {
	MARGIN-TOP: 2px
}
.right .play UL LI .pk TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.right .play UL LI .pk TABLE TD {
	VERTICAL-ALIGN: middle
}
.right .play UL LI .pk TABLE .red IMG {
	BORDER-RIGHT: #f00 4px solid; BORDER-TOP: #f00 4px solid; BORDER-LEFT: #f00 4px solid; BORDER-BOTTOM: #f00 4px solid
}
.right .play UL LI .pk TABLE .blue IMG {
	BORDER-RIGHT: #4799ea 4px solid; BORDER-TOP: #4799ea 4px solid; BORDER-LEFT: #4799ea 4px solid; BORDER-BOTTOM: #4799ea 4px solid
}
.right .play UL LI .pk TABLE .middle {
	WIDTH: 30px; COLOR: #4799ea; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.right .play UL LI .video {
	MARGIN-TOP: 1px
}
.right .play UL LI .music UL {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 5px 0px 0px; BORDER-RIGHT-WIDTH: 0px
}

.right .play UL LI .music UL LI A {
	COLOR: #5f5f5f; TEXT-DECORATION: none
}
.right .play UL LI .music UL LI A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.right .play UL LI .twitter {
	COLOR: #5f5f5f; LINE-HEIGHT: 18px
}
.right .play UL LI .twitter A {
	COLOR: #5f5f5f; TEXT-DECORATION: none
}
.right .play UL LI .twitter A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.right .play UL LI .appraisal TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.right .play UL LI .appraisal TABLE TD {
	VERTICAL-ALIGN: bottom; COLOR: #000
}
.right .play UL LI .appraisal TABLE .fripic {
	PADDING-RIGHT: 10px
}
.right .play UL LI .appraisal TABLE TD DIV IMG {
	VERTICAL-ALIGN: bottom
}
.right .play UL LI .appraisal TABLE TD SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; MARGIN: 0px; COLOR: #f00; LINE-HEIGHT: 32px
}

.footer {
	MARGIN-TOP: 15px; BACKGROUND: #cd0100; OVERFLOW: hidden; COLOR: #fff; LINE-HEIGHT: 37px; HEIGHT: 37px; TEXT-ALIGN: center
}
.footer A {
	COLOR: #fff; TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #ff0; TEXT-DECORATION: none
}

.navwrap {
	FONT-SIZE: 12px; COLOR: #fff
}
.navwrap .nav {
	BACKGROUND: url(../images/xrebg.gif) #000 repeat-x 0px 0px; BORDER-BOTTOM: #414141 1px solid; HEIGHT: 56px
}
.navwrap .nav .navinner {
	Z-INDEX: 500; MARGIN: 0px auto; POSITION: relative; WIDTH: 960px; HEIGHT: 56px
}

.navwrap .nav .navinner .navsearch {
	PADDING-LEFT: 15px; LEFT: 695px; POSITION: absolute; BORDER-LEFT: #3f3f3f 1px solid; TOP: 30px; HEIGHT: 20px
}
.navwrap .nav .navinner .navsearch .input {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(../images/bg.gif) no-repeat 0px -123px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 80px; PADDING-TOP: 0px; HEIGHT: 20px
}
.navwrap .nav .navinner .navsearch .input INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 0px; WIDTH: 80px; COLOR: #fff; LINE-HEIGHT: 18px; HEIGHT: 19px; BORDER-RIGHT-WIDTH: 0px
}
.navwrap .nav .navinner .navsearch .but {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/bg.gif) no-repeat -86px -123px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 19px; CURSOR: pointer; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.navwrap .nav .navinner .other {
	LEFT: 826px; POSITION: absolute; WIDTH: 134px; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; TOP: 30px; HEIGHT: 20px
}
.navwrap .nav .navinner .other A {
	COLOR: #b0b0b0; MARGIN-RIGHT: 14px; TEXT-DECORATION: none
}
.navwrap .nav .navinner .other A:hover {
	COLOR: #f10000; TEXT-DECORATION: none
}
table.tableList {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-spacing: 0px;
	width: 100%;
	border-collapse: collapse;
}

table.tableList th {
	margin: 0px;
	padding: 6px 4px 2px 4px;
	height: 25px;
	background-color:#000000;
	background-repeat: repeat;
	font-size: 12px;
	color: #ffffff;
	text-align: left;
}

table.tableList th a {
	color: #ff9900;
}

table.tableList tr.row0 {
	background-color: #F5F5F5;
}
table.tableList tr.row1 {
	background-color: #FFF;
}
table.tableList td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;
}
table.tableList tr.row0:hover {
	background-color: #f1f1f1;
}
table.tableList tr.row1:hover {
	background-color: #f1f1f1;
}
table.tableList td.options {
	background-color: #ffffff;
	font-size: 8px;
}